{% extends "video/base.html" %}
{% block content %}
    <title>Home ~ DjangoTube</title>
    <div class="videos">
        <h1>Recommended</h1>
        <div class="videos__container">
          <div class="video">
            <div class="video__thumbnail">
              <a href="{% url 'video' %}"><img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="" /></a>
            </div>
            <div class="video__details">
              <div class="author">
                <a href="{% url 'user' %}"><img src="http://aninex.com/images/srvc/web_de_icon.png" alt="" /></a>
              </div>
              <div class="title">
                <h3>
                  <a href="{% url 'video' %}">Top 5 Programming Languages to Learn in 2021 | Best Programming Languages to Learn</a>
                </h3>
                <a href="{% url 'user' %}">FutureCoders</a>
                <a href="{% url 'user' %}"><span>10M Views • 3 Months Ago</span></a>
              </div>
            </div>
          </div>
          <div class="video">
            <div class="video__thumbnail">
              <a href="{% url 'video' %}"><img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="" /></a>
            </div>
            <div class="video__details">
              <div class="author">
                <a href="{% url 'user' %}"><img src="http://aninex.com/images/srvc/web_de_icon.png" alt="" /></a>
              </div>
              <div class="title">
                <h3>
                  <a href="{% url 'video' %}">Top 5 Programming Languages to Learn in 2021 | Best Programming Languages to Learn</a>
                </h3>
                <a href="{% url 'user' %}">FutureCoders</a>
                <a href="{% url 'user' %}"><span>10M Views • 3 Months Ago</span></a>
              </div>
            </div>
          </div>
          <div class="video">
            <div class="video__thumbnail">
              <a href="{% url 'video' %}"><img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="" /></a>
            </div>
            <div class="video__details">
              <div class="author">
                <a href="{% url 'user' %}"><img src="http://aninex.com/images/srvc/web_de_icon.png" alt="" /></a>
              </div>
              <div class="title">
                <h3>
                  <a href="{% url 'video' %}">Top 5 Programming Languages to Learn in 2021 | Best Programming Languages to Learn</a>
                </h3>
                <a href="{% url 'user' %}">FutureCoders</a>
                <a href="{% url 'user' %}"><span>10M Views • 3 Months Ago</span></a>
              </div>
            </div>
          </div>
          <div class="video">
            <div class="video__thumbnail">
              <a href="{% url 'video' %}"><img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="" /></a>
            </div>
            <div class="video__details">
              <div class="author">
                <a href="{% url 'user' %}"><img src="http://aninex.com/images/srvc/web_de_icon.png" alt="" /></a>
              </div>
              <div class="title">
                <h3>
                  <a href="{% url 'video' %}">Top 5 Programming Languages to Learn in 2021 | Best Programming Languages to Learn</a>
                </h3>
                <a href="{% url 'user' %}">FutureCoders</a>
                <a href="{% url 'user' %}"><span>10M Views • 3 Months Ago</span></a>
              </div>
            </div>
          </div>
          <div class="video">
            <div class="video__thumbnail">
              <a href="{% url 'video' %}"><img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="" /></a>
            </div>
            <div class="video__details">
              <div class="author">
                <a href="{% url 'user' %}"><img src="http://aninex.com/images/srvc/web_de_icon.png" alt="" /></a>
              </div>
              <div class="title">
                <h3>
                  <a href="{% url 'video' %}">Top 5 Programming Languages to Learn in 2021 | Best Programming Languages to Learn</a>
                </h3>
                <a href="{% url 'user' %}">FutureCoders</a>
                <a href="{% url 'user' %}"><span>10M Views • 3 Months Ago</span></a>
              </div>
            </div>
          </div>
          <div class="video">
            <div class="video__thumbnail">
              <a href="{% url 'video' %}"><img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="" /></a>
            </div>
            <div class="video__details">
              <div class="author">
                <a href="{% url 'user' %}"><img src="http://aninex.com/images/srvc/web_de_icon.png" alt="" /></a>
              </div>
              <div class="title">
                <h3>
                  <a href="{% url 'video' %}">Top 5 Programming Languages to Learn in 2021 | Best Programming Languages to Learn</a>
                </h3>
                <a href="{% url 'user' %}">FutureCoders</a>
                <a href="{% url 'user' %}"><span>10M Views • 3 Months Ago</span></a>
              </div>
            </div>
          </div>
          <div class="video">
            <div class="video__thumbnail">
              <a href="{% url 'video' %}"><img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="" /></a>
            </div>
            <div class="video__details">
              <div class="author">
                <a href="{% url 'user' %}"><img src="http://aninex.com/images/srvc/web_de_icon.png" alt="" /></a>
              </div>
              <div class="title">
                <h3>
                  <a href="{% url 'video' %}">Top 5 Programming Languages to Learn in 2021 | Best Programming Languages to Learn</a>
                </h3>
                <a href="{% url 'user' %}">FutureCoders</a>
                <a href="{% url 'user' %}"><span>10M Views • 3 Months Ago</span></a>
              </div>
            </div>
          </div>
          <div class="video">
            <div class="video__thumbnail">
              <a href="{% url 'video' %}"><img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="" /></a>
            </div>
            <div class="video__details">
              <div class="author">
                <a href="{% url 'user' %}"><img src="http://aninex.com/images/srvc/web_de_icon.png" alt="" /></a>
              </div>
              <div class="title">
                <h3>
                  <a href="{% url 'video' %}">Top 5 Programming Languages to Learn in 2021 | Best Programming Languages to Learn</a>
                </h3>
                <a href="{% url 'user' %}">FutureCoders</a>
                <a href="{% url 'user' %}"><span>10M Views • 3 Months Ago</span></a>
              </div>
            </div>
          </div>
          <div class="video">
            <div class="video__thumbnail">
              <a href="{% url 'video' %}"><img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="" /></a>
            </div>
            <div class="video__details">
              <div class="author">
                <a href="{% url 'user' %}"><img src="http://aninex.com/images/srvc/web_de_icon.png" alt="" /></a>
              </div>
              <div class="title">
                <h3>
                  <a href="{% url 'video' %}">Top 5 Programming Languages to Learn in 2021 | Best Programming Languages to Learn</a>
                </h3>
                <a href="{% url 'user' %}">FutureCoders</a>
                <a href="{% url 'user' %}"><span>10M Views • 3 Months Ago</span></a>
              </div>
            </div>
          </div>
          <div class="video">
            <div class="video__thumbnail">
              <a href="{% url 'video' %}"><img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="" /></a>
            </div>
            <div class="video__details">
              <div class="author">
                <a href="{% url 'user' %}"><img src="http://aninex.com/images/srvc/web_de_icon.png" alt="" /></a>
              </div>
              <div class="title">
                <h3>
                  <a href="{% url 'video' %}">Top 5 Programming Languages to Learn in 2021 | Best Programming Languages to Learn</a>
                </h3>
                <a href="{% url 'user' %}">FutureCoders</a>
                <a href="{% url 'user' %}"><span>10M Views • 3 Months Ago</span></a>
              </div>
            </div>
          </div>
          <div class="video">
            <div class="video__thumbnail">
              <a href="{% url 'video' %}"><img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="" /></a>
            </div>
            <div class="video__details">
              <div class="author">
                <a href="{% url 'user' %}"><img src="http://aninex.com/images/srvc/web_de_icon.png" alt="" /></a>
              </div>
              <div class="title">
                <h3>
                  <a href="{% url 'video' %}">Top 5 Programming Languages to Learn in 2021 | Best Programming Languages to Learn</a>
                </h3>
                <a href="{% url 'user' %}">FutureCoders</a>
                <a href="{% url 'user' %}"><span>10M Views • 3 Months Ago</span></a>
              </div>
            </div>
          </div>
          <div class="video">
            <div class="video__thumbnail">
              <a href="{% url 'video' %}"><img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="" /></a>
            </div>
            <div class="video__details">
              <div class="author">
                <a href="{% url 'user' %}"><img src="http://aninex.com/images/srvc/web_de_icon.png" alt="" /></a>
              </div>
              <div class="title">
                <h3>
                  <a href="{% url 'video' %}">Top 5 Programming Languages to Learn in 2021 | Best Programming Languages to Learn</a>
                </h3>
                <a href="{% url 'user' %}">FutureCoders</a>
                <a href="{% url 'user' %}"><span>10M Views • 3 Months Ago</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}